.svg-animation-container {
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 24px;
    margin: 0 auto;
    border-radius: 20%;
    height: 500px;
}

.svg-animation-container svg {
    width: 100%;
}

#bgElement {
    animation: changecolor 3s infinite alternate;
}

@keyframes changecolor {
    0% {
        fill: red;
    }
    100% {
        fill: blue;
    }
}

#SoccerBall {
    animation: bounce 1s infinite ease-out alternate;
    /* ..ease: -- slow to fast make speed.............. */
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}

#shoe {
    animation: rotate 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-5deg);
    }
}

#righthand {
    animation: rotateHand 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes rotateHand {
    0% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(10deg);
    }
}

#lefthand {
    animation: rotateLHand 2s infinite alternate;
    transform-origin: top left;
    transform-box: fill-box;
}

@keyframes rotateLHand {
    0% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
}